.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_container {
    align-items: center;
    display: flex;
    margin-top: 12vh;
    flex-direction: column;
}
.content {
    display: flex;
    margin-top: 8vh;
    justify-content: space-between;
    width: 150vh;
}
.title {
    color: #FFFF00;
    font-size: 38px;
    margin-bottom: 3vh;
    font-weight: bold;
}
.subtitle {
    text-align: left;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 80vh;
    margin-bottom: 5vh;
}

@media only screen and (max-width: 1110px) {
    .subtitle {
        max-width: 50vh;
        text-align: center;
    }
    .content {
        align-items: center;
        height: 160vh;
        justify-content: space-between;
        flex-direction: column;
        width: 40vh;
    }
}