.container {
    align-items: center;
    border-radius: 6vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 6vh;
    width: 28vh;
    background-color: #FFFF00;
    transition: background-color 0.4s ease, transform 0.5s ease;
}
.title {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container:hover {
    background-color: #412da8;
    transform: scale(1.03);
}
.container:hover .title {
    color: white;
}