.container,
.disabled_container {
    align-items: center;
    border-radius: 6vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 6vh;
    width: 28vh;
    background-color: #FFFF00;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.24), 0 1px 3px rgba(228, 228, 228, 0.342);
    transition: background-color 0.4s ease, transform 0.5s ease;
}
.disabled_container {
    background-color: rgb(156, 153, 153);
    cursor: context-menu;
}
.title {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container:hover {
    background-color: #412da8;
    transform: scale(1.03);
}
.container:hover .title {
    color: white;
}



@media only screen and (max-width: 1110px) {
  .title {
    font-size: 18px;
  }
}