
.title_content {
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.title {
    color: #FFFF00;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 4vh;
}
.subtitle {
    font-size: 46px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 80vh;
}
.content {
    display: flex;
    margin-top: 10vh;
    justify-content: space-between;
    width: 160vh;
}
.about_content {
    max-width: 110vh;
    padding-left: 40vh;
}
.about_title {
    color: #FFFF00;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 2vh;
}