.container {
    align-items: center;
    background-color: #140A48;
    justify-content: space-between;
    display: flex;
    border-bottom: 0.4px solid rgba(181, 182, 184, 0.384);
    height: 8vh;
    width: 100%;
}
.languages_container {
    align-items: center;
    display: flex;
}
