.title_container {
    align-items: center;
    display: flex;
    margin-top: 14vh;
    flex-direction: column;
}
.title {
    color: #FFFF00;
    font-size: 38px;
    margin-bottom: 3vh;
    font-weight: bold;
}
.subtitle {
    text-align: left;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 80vh;
    margin-bottom: 5vh;
}
.content {
    display: flex;
    justify-content: space-between;
    width: 150vh;
}
.inputs_container {
    display: flex;
}
.button_container {
    display: flex;
    flex-direction: column;
}
.modal_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 80vh;
}
.lottie_container {
    height: 15vh;
    width: 15vh;
    margin-bottom: 6vh;
}
.error_message {
    color: rgba(211, 54, 54, 0.829);
    margin: 1vh
}

@media only screen and (max-width: 1110px) {
    .subtitle {
        max-width: 40vh;
        text-align: center;
    }
    .content {
        flex-direction: column;
        width: 0px;
    }
    .inputs_container {
        flex-direction: column;
    }
    .button_container {
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 39vh;
    }
}
@media only screen and (max-width: 375px) {
    .title_container {
        margin-top: 44vh;
    }
}