.container {
    transition: opacity 2s ease;
}

.changing_language {
    opacity: 0;
}

.personal_info_container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.home_container {
    align-items: center;
    display: flex;
    height: 70vh;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 22vh;
    margin-left: 20vh;
    width: 80%;
}
.first_name {
    font-size: 6vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color: white;
    margin-bottom: -5vh;
}
.second_name {
    font-size: 6vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    color: #FFFF00;
}
.button_container {
    margin-top: 4vh;
}
.habilities_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10vh;
}
.about_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 14vh;
}
.about_title_content {
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.about_subtitle {
    font-size: 46px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 80vh;
}

.skills_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15vh;
}
.title {
    color: #FFFF00;
    font-size: 30px;
    margin-bottom: 3vh;
    font-weight: bold;
}
.subtitle {
    text-align: center;
    font-size: 46px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 80vh;
}
.skills_content {
    margin-left: 30vh;
    margin-right: 16vh;
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }
  
  .skills_content > div {
    width: 48%;
    margin-bottom: 15px;
  }
  .footer {
    align-items: end;
    display: flex;
    justify-content: center;
    padding: 2vh;
    height: 18vh;
    width: 100%;
  }
  .footer_text_style {
    color: rgb(235, 221, 221);
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }