.container {
    background-color: #412da8;
    border-radius: 2vh;
    width: 43vh;
    height: 50vh;
}
.content {
    padding: 6vh
}
.icon {
    color: #FFFF00;
    height: 8vh;
    width: 8vh;
}
.title {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 26px;
    padding-top: 4vh;
    padding-bottom: 2vh; 
}
.subtitle {
    font-size: 22px;
    color: rgba(230, 232, 235, 0.562);
}